<div>

<h1>Welcome to Omawho, <%= @user.first_name %></h1>
<p>
Thank you for signing up to Omawho.<br /><br />

To login to your account, please click the following link:<br /><br />

<%= @url %><br /><br />

Have a great day,<br /><br />

El Presidente
</p>
</div>
