<%= erb :'partials/_navbar.html' %>

<div class="container block">
  <div class="row">
    <h2 class="text-center">Are you sure you want to delete your profile?</h2>
    <h4 class="text-center">You will not be able to recover your information if you select yes.</h4>
    

     <div class="col-xs-12 text-center">
       <input type="button" class="delete" value="Yes"><input type="button" class="cool" value="No">
     </div>
  </div>
</div>