<!DOCTYPE html>
<html>
  <head>
    <title>Test 1</title>
    <script type="text/javascript" src="test.js">
    </script>
    <link rel="stylesheet" href="/stylesheet1.css">  
  </head>
  
  <body>
    <%= yield %>
  </body>
</html>