<%= erb :'partials/_navbar.html' %>

<div class="container block">
  <div class="row">
   <form class="form-horizontal" role="form">
     <div class="form-group">
       <label class="col-xs-12 col-xs-offset-2 col-sm-3 col-sm-offset-0 control-label">Email:</label>
       <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6">
         <input class="form-control" type="text" value="">
       </div>
     </div>
     <div class="form-group">
       <label class="col-xs-12 col-xs-offset-2 col-sm-3 col-sm-offset-0 control-label">Password:</label>
       <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6">
         <input class="form-control" type="password" value="">
       </div>
     </div>
     <div class="col-xs-12 text-center">
       <input type="button" class="cool" value="Login">
       <br>
       <a>Forgot your password?</a>
     </div>
   </form>
  </div>
</div>