<%= erb :'partials/_navbar.html' %>

<div class="container block">
  <div class="row">
    <h2 class="text-center">Hello, Joe Schmo. Please enter in a new password.</h2>
    
   <form class="form-horizontal" role="form">
     <div class="form-group">
       <label class="col-xs-12 col-xs-offset-2 col-sm-3 col-sm-offset-0 control-label">Password:</label>
       <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6">
         <input class="form-control" type="password" value="">
       </div>
     </div>
     <div class="form-group">
       <label class="col-xs-12 col-xs-offset-2 col-sm-3 col-sm-offset-0 control-label">Confirm Password:</label>
       <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6">
         <input class="form-control" type="password" value="">
       </div>
     </div>
     <div class="col-xs-12 text-center">
       <input type="button" class="cool" value="Submit">
     </div>
   </form>
  </div>
</div>