<%= erb :'partials/_navbar.html' %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <img src="../public/profile_pic.jpg" width="420" height="420" alt="Profile Pic">
    </div>
    
    <div class="col-sm-6 col-xs-12">
      
    </div>
    
    <div class="col-sm-6 col-xs-12">
      
    </div>
    
    <div class="col-sm-6 col-xs-12">
      
    </div>
  </div>
</div>