<%= erb :'partials/_navbar.html' %>
<div class="container block">
  <h1>Add Your Profile</h1>
  <hr>
  <div class="row">
    <form class="form-horizontal" role="form">
    
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-thumbnail" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
      
      <div class="col-md-9 personal-info">

          <h3>Personal info</h3>
        
          <div class="form-group">
            <label class="col-md-3 control-label">First name:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="Jane">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Last name:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="Bishop">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="janeuser">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Email:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="janesemail@gmail.com">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Tag Line:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          
          <h3>Select Speciality</h3>
          <h4>Select a primary speciality:</h4>
          <div class="form-group">
            <label class="col-md-3 control-label">Category:</label>
            <div class="col-md-8">
              <select name="primary_category">
                <option>Select A Category</option>
                <option><div class="col-sm-2 all"><small class="sorter">All</small></div></option>
                <option><div class="col-sm-2 web"><small class="sorter">Web & Software</small></div></option>
                <option><div class="col-sm-2 graphic"><small class="sorter">Graphic Design</small></div></option>
                <option><div class="col-sm-2 architect"><small class="sorter">Archit. & Int. Design</small></div></option>
                <option><div class="col-sm-2 photo"><small class="sorter">Photography</small></div></option>
                <option><div class="col-sm-2 art"><small class="sorter">Music/Film/Art</small></div></option>
                <option><div class="col-sm-2 fashion"><small class="sorter">Fashion</small></div></option>
                <option><div class="col-sm-2 writing"><small class="sorter">Writing</small></div></option>
                <option><div class="col-sm-2 venture"><small class="sorter">Venture Capital</small></div></option>
                <option><div class="col-sm-2 community"><small class="sorter">Community Connector</small></div></option>
                <option><div class="col-sm-2 nonprofit"><small class="sorter">Non-Profit</small></div></option>
                <option><div class="col-sm-2 sales"><small class="sorter">Sales & Marketing</small></div></option>
              </select>
            </div>
          </div>
          <h4>Select any other skills:</h4>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-3 category_block">
              <label class="">
                <input type="checkbox" name="inlineRadioOptions" value=""> Web & Software  
              </label>
              <label class="">
                <input type="checkbox" name="inlineRadioOptions" value=""> Graphic Design
              </label>
              <label class="">
                <input type="checkbox" name="inlineRadioOptions" value=""> Architecture & Interior Design
              </label>
              <label class="">
                <input type="checkbox" name="inlineRadioOptions" value=""> Photography
              </label>
              <label class="">
                <input type="checkbox" name="inlineRadioOptions" value=""> Music/Film/Art
              </label>
              <label class="">
                <input type="checkbox" name="inlineRadioOptions" value=""> Fashion
              </label>
            </div>
            
            
            <div class="col-sm-3 category_block">
              <label class="">
                <input type="checkbox" name="inlineRadioOptions" value=""> Writing
              </label>
              <label class="">
                <input type="checkbox" name="inlineRadioOptions" value=""> Venture Capital
              </label>
              <label class="">
                <input type="checkbox" name="inlineRadioOptions" value=""> Community Connector
              </label>
              <label class="">
                <input type="checkbox" name="inlineRadioOptions" value=""> Non-Profit
              </label>
              <label class="">
                <input type="checkbox" name="inlineRadioOptions" value=""> Sales & Marketing
              </label>
            </div>
          </div>
          
          <h3>Add Your Portfolio</h3>
          <h4>These fields are optional</h4>
          
          <div class="form-group">
            <label class="col-md-3 control-label">Company:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Company Website:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Twitter:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Facebook:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Github:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Dribble:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Pinterest:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">LinkedIn:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Instagram:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Personal Website:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Bio:</label>
            <div class="col-md-8">
              <textarea class="form-control" rows="8" type="text" value=""></textarea>
            </div>
          </div>

        </div>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-xs-offset-4 col-sm-offset-5 col-md-8 col-md-offset-7 submit">
            <input type="button" class="cool" value="Save Your Changes">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
