<%= erb :'partials/_navbar.html' %>
<<<<<<< HEAD

=======
>>>>>>> fc98b33bec231f0db56a92bf4eec0086ac534d3b
<div class="container block">
  <h1>Add Your Profile</h1>
  <hr>
  <div class="row">
    <form class="form-horizontal" role="form">
    
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-thumbnail" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
      
      <div class="col-md-9 personal-info">

          <h3>Personal info</h3>
        
          <div class="form-group">
            <label class="col-md-3 control-label">First name:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Last name:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Email:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="">
            </div>
            <br>
            <h4>(Note, usernames are only used for linking to your profile.)</h4>
          </div>
          
          <h3>Select Speciality</h3>
          <h4>Select a primary speciality:</h4>
          <div class="form-group">
             <label class="col-xs-2 col-md-3 control-label">Category:</label>
             <div class="col-xs-offset-2 col-md-8">
               <select name="primary_category">
                 <option>Select A Category</option>
                 <option>All</option>
                 <option>Web &amp; Software</option>
                 <option>Graphic Design</option>
                 <option>Archit. &amp; Int. Design</option>
                 <option>Photography</option>
                 <option>Music/Film/Art</option>
                 <option>Fashion</option>
                 <option>Writing</option>
                 <option>Venture Capital</option>
                 <option>Community Connector</option>
                 <option>Non-Profit</option>
                 <option>Sales &amp; Marketing</option>
               </select>
             </div>
           </div>
        </div>
        
        
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="text-center">
            <input type="button" class="cool" value="Add Your Face">
            <h4 class="text-center">You can edit your profile to add more information later.</h4>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
