<%= erb :'partials/_navbar.html' %>

<div class="container">
  <form class='form-horizontal'>
    <fieldset>
    <legend>Add your face</legend>
    <div class="row">
      <div class="col-sm-6 col-xs-12 form-box">
        <div class="control-group">
          <label class="control-label col-md-2" for="avatar">Profile Pic:</label>
          <div class="controls col-md-8">
            <input id="avatar" name="avatar" class="input-file" type="file">
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="first_name">First Name</label>
          <div class="controls">
            <input id="first_name" name="first_name" type="text" placeholder="Jimbo" class="input-xlarge" required="">
    
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="lastname">Last Name</label>
          <div class="controls">
            <input id="lastname" name="lastname" type="text" placeholder="Jones" class="input-xlarge" required="">
    
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="username">Username</label>
          <div class="controls">
            <input id="username" name="username" type="text" placeholder="jimbo1989" class="input-xlarge" required="">
            <p class="help-block">16 character max.</p>
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="email">Email</label>
          <div class="controls">
            <input id="email" name="email" type="text" placeholder="jimbo@localfirm.com" class="input-xlarge" required="">
    
          </div>
        </div>

        <!-- Password input-->
        <div class="control-group">
          <label class="control-label" for="password">Password</label>
          <div class="controls">
            <input id="password" name="password" type="password" placeholder="" class="input-xlarge">
            <p class="help-block">6 character min</p>
          </div>
        </div>
      </div>
      
      <div class="col-sm-6 col-xs-12 form-box">
        <!-- Select Basic -->
        <div class="control-group">
          <label class="control-label" for="selectbasic">Primary Specialty</label>
          <div class="controls">
            <select id="selectbasic" name="selectbasic" class="input-xlarge">
              <option>Web &amp; Software</option>
              <option>Graphic Design</option>
              <option>Architecture &amp; Int. Design</option>
              <option>Photography</option>
              <option>Music / Film / Art</option>
              <option>Fashion</option>
              <option>Writing</option>
              <option>Venture Capital</option>
              <option>Community Connector</option>
              <option>Non-Profit</option>
              <option>Sales &amp; Marketing</option>
            </select>
          </div>
        </div>

        <!-- Textarea -->
        <div class="control-group">
          <label class="control-label" for="bio">Short Bio</label>
          <div class="controls">                     
            <textarea id="bio" name="bio"></textarea>
          </div>
        </div>

        <!-- Prepended text-->
        <div class="control-group">
          <label class="control-label" for="companywebsite">Company Website</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">http:/</span>
              <input id="companywebsite" name="companywebsite" class="input-large" placeholder="www.localfirm.com" type="text">
            </div>
    
          </div>
        </div>

        <!-- Prepended text-->
        <div class="control-group">
          <label class="control-label" for="personalwebsite">Personal Website</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">http://</span>
              <input id="personalwebsite" name="personalwebsite" class="input-large" placeholder="www.jimbojones.com" type="text">
            </div>
    
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 form-box">
        <!-- Prepended text-->
        <div class="control-group">
          <label class="control-label" for="twiter">Twitter</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">@</span>
              <input id="twiter" name="twiter" class="input-large" placeholder="jimbothejones" type="text">
            </div>
    
          </div>
        </div>

        <!-- Prepended text-->
        <div class="control-group">
          <label class="control-label" for="facebook">Facebook</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">facebook.com/</span>
              <input id="facebook" name="facebook" class="input-medium" placeholder="jimbojones" type="text">
            </div>
    
          </div>
        </div>

        <!-- Prepended text-->
        <div class="control-group">
          <label class="control-label" for="instagram">Instagram</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">instagram.com/</span>
              <input id="instagram" name="instagram" class="input-medium" placeholder="jimbothejones" type="text">
            </div>
    
          </div>
        </div>

        <!-- Prepended text-->
        <div class="control-group">
          <label class="control-label" for="pintrest">Pintrest</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">pintrest.com/</span>
              <input id="pintrest" name="pintrest" class="input-medium" placeholder="JimboJones" type="text">
            </div>
    
          </div>
        </div>
      </div>
      
      <div class="col-sm-6 col-xs-12 form-box">
        <!-- Prepended text-->
        <div class="control-group">
          <label class="control-label" for="github">Github</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">github.com/</span>
              <input id="github" name="github" class="input-medium" placeholder="jjjones" type="text">
            </div>
    
          </div>
        </div>

        <!-- Prepended text-->
        <div class="control-group">
          <label class="control-label" for="linkedin">LinkedIn</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">linkedin.com/</span>
              <input id="linkedin" name="linkedin" class="input-medium" placeholder="jimbojones" type="text">
            </div>
    
          </div>
        </div>

        <!-- Prepended text-->
        <div class="control-group">
          <label class="control-label" for="dribble">Dribble</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">dirbble.com/</span>
              <input id="dribble" name="dribble" class="input-medium" placeholder="jjjones" type="text">
            </div>
    
          </div>
        </div>

        <!-- Prepended text-->
        <div class="control-group">
          <label class="control-label" for="googleplus">Google+</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">plus.google.com/+</span>
              <input id="googleplus" name="googleplus" class="input-small" placeholder="JimboJones" type="text">
            </div>
    
          </div>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="control-group">
        <label class="control-label" for="submit"></label>
        <div class="controls">
          <button id="submit" name="submit" class="btn btn-primary">Add Your Face!</button>
        </div>
      </div>
      <div class='xs-col-12'>
        
      </div>
      
    </div>
  </form>
</div>