<%= erb :'partials/_navbar.html' %>
<div class="container block">
  <div class="row">
    <div class="col-sm-6">
      
      <div class="polaroid" >
        <img src="/pic01.jpg"></img>
      </div>
      
    </div>
    <div class="col-sm-6">
      <h1 class="graphic rokkitt">Joe Schmo</h1>
      <h2 class="rokkitt">Graphic Designer</h2>
      <p class="tagline">"I love lamp."</p>
      <hr>
      <p><strong>Bio:</strong><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      
      <p class="site_link">
        Personal Site:<a href='www.google.com'>'www.google.com'</a>
      </p>
      <p class="site_link">
      Company Site:<a href='www.google.com'>'www.google.com'</a>
      </p>
    </div>
  </div>
</div>