<%= erb :'partials/_navbar.html' %>
<div class="container block">
  <div class="row">
    <div class="col-sm-6">
      
      <div class="profile_pic" >
        <img src="/pic01.jpg"></img>
      </div>
      
    </div>
    <div class="col-sm-6">
      <h1 class="graphic-design rokkitt">Joe Schmo</h1>
      <h2 class="rokkitt">Graphic Designer</h2>
      <p class="tagline">"I love lamp."</p>
      <hr>
      <h2 class="rokkitt">Bio:</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      
      <h2 class="rokkitt">Other Skills:</h2>
      <ul>
        <li>Web & Software</li>
        <li>Fashion</li>
      </ul>
      
      <table class="site_table">
        <tr><td><strong>Personal Site:</strong></td> <td><a>'www.google.com'</a></td></tr>
        <tr><td><strong>Company Site:</strong></td> <td><a>Google</a></td></tr>
      </table>
      
      <hr>
      <select>
        <option selected disabled>Connect With Me On Social Media</option>
        <option>Facebook</option>
        <option>Twitter</option>
        <option>Dribbble</option>
      </select>
    </div>
  </div>
</div>