<nav class="container" id="nav">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-push-4 text-right">
      <h1 class="title">OmaWho</h1>
      <div class="bubble" id="quiz">?</div>
      <small id="tagline">The faces of Omaha's creative community</small>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-pull-8 text-center vcenter" id="links">
      <button>Login // Add your Face</button>
    </div>
  </div>
</nav>
<div class="container sort_by">
  <div class="row">
    <div class="col-sm-2 all"><small class="sorter">All</small></div>
    <div class="col-sm-2 web"><small class="sorter">Web & Software</small></div>
    <div class="col-sm-2 graphic"><small class="sorter">Graphic Design</small></div>
    <div class="col-sm-2 architect"><small class="sorter">Architecture & Interior Design</small></div>
    <div class="col-sm-2 photo"><small class="sorter">Photography</small></div>
    <div class="col-sm-2 art"><small class="sorter">Music/Film/Art</small></div>
    <div class="col-sm-2 fashion"><small class="sorter">Fashion</small></div>
    <div class="col-sm-2 writing"><small class="sorter">Writing</small></div>
    <div class="col-sm-2 venture"><small class="sorter">Venture Capital</small></div>
    <div class="col-sm-2 community"><small class="sorter">Community Connector</small></div>
    <div class="col-sm-2 nonprofit"><small class="sorter">Non-Profit</small></div>
    <div class="col-sm-2 sales"><small class="sorter">Sales & Marketing</small></div>
  </div>
</div>
<div class="container">
  
    <div class="row">
      
    <div class="col-md-3 col-sm-4">
      <div class="polaroid graphic" id="01" >
        <img src="/pic01.jpg"></img>
        <p>
          <span class="user_name"><big>Joe Schmo</big></span>
          <span class="category_name"><medium>Graphic Designer</medium></span>
        </p>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-4">
      <div class="polaroid web" id="02" >
        <img src="/pic02.jpg"></img>
        <p>
          <span class="user_name">Jane Doe</span>
          <span class="category_name">Web & Software</span>
        </p>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-4">
      <div class="polaroid photo" id="03" >
        <img src="/pic03.jpg"></img>
        <p>
          <span class="user_name">Jimmy Smith</span>
          <span class="category_name">Photography</span>
        </p>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-4">
      <div class="polaroid architect" id="04" >
        <img src="/pic04.jpg"></img>
        <p>
          <span class="user_name">Sally Johnson</span>
          <span class="category_name">Architecture & Interior Design</span>
        </p>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-4">
      <div class="polaroid fashion" id="05" >
        <img src="/pic05.jpg"></img>
        <p>
          <span class="user_name">Jimbo Junebug</span>
          <span class="category_name">Fashion</span>
        </p>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-4">
      <div class="polaroid writing" id="12" >
        <img src="/pic12.jpg"></img>
        <p>
          <span class="user_name">Karen Chattanooga</span>
          <span class="category_name">Writing</span>
        </p>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-4">
      <div class="polaroid venture" id="06" >
        <img src="/pic06.jpg"></img>
        <p>
          <span class="user_name">Greg Brownstein</span>
          <span class="category_name">Venture Capital</span>
        </p>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-4">
      <div class="polaroid community" id="07" >
        <img src="/pic07.png"></img>
        <p>
          <span class="user_name">Horatio Flip</span>
          <span class="category_name">Community Connector</span>
        </p>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-4">
      <div class="polaroid nonprofit" id="08" >
        <img src="/pic08.jpg"></img>
        <p>
          <span class="user_name">Charles DeCrumb</span>
          <span class="category_name">Non-Profit</span>
        </p>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-4">
      <div class="polaroid sales" id="09" >
        <img src="/pic09.jpg"></img>
        <p>
          <span class="user_name">Chauncy White</span>
          <span class="category_name">Sales & marketing</span>
        </p>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-4">
      <div class="polaroid web" id="10" >
        <img src="/pic10.png"></img>
        <p>
          <span class="user_name">Jane Doe</span>
          <span class="category_name">Web & Software</span>
        </p>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-4">
      <div class="polaroid photo" id="11" >
        <img src="/pic11.jpg"></img>
        <p>
          <span class="user_name">Jimmy Smith</span>
          <span class="category_name">Photography</span>
        </p>
      </div>
    </div>
    
  </div>

</div>
<a href="#nav"><div class="bubble" id="upwards">^</div></a>