<nav>
  <h1 class="title">OmaWho</h1>
  <img id="quiz" src="/q_mark.png">
  <div id="dropdown">
    <a>Login</a>
    <select>
      <option>Graphics</option>
      <option>Web</option>
    </select>
  </div>
</nav>

  <div class="grid">
   <div class="row">  
    <div class="polaroid">
      <img src="/pic01.jpg"></img>
      <p>
        <span class="user_name">Joe Schmo</span>
        <span class="category_name">Graphic Designer</span>
      </p>
    </div>
  
    <div class="polaroid">
      <img src="pic02.jpg"></img>
      <p>
        <span class="user_name">Joe Schmo</span>
        <span class="category_name">Graphic Designer</span>
      </p>
    </div>
  
    <div class="polaroid">
      <img src="pic03.jpg"></img>
      <p>
        <span class="user_name">Joe Schmo</span>
        <span class="category_name">Graphic Designer</span>
      </p>
    </div>
    
    <div class="polaroid">
      <img src="pic04.jpg"></img>
      <p>
        <span class="user_name">Joe Schmo</span>
        <span class="category_name">Graphic Designer</span>
      </p>
    </div>
    
  </div>
  
  <div class="row">
    <div class="polaroid">
      <img src="pic04.jpg"></img>
      <p>
        <span class="user_name">Joe Schmo</span>
        <span class="category_name">Graphic Designer</span>
      </p>
    </div>
    
    <div class="polaroid">
      <img src="pic05.jpg"></img>
      <p>
        <span class="user_name">Joe Schmo</span>
        <span class="category_name">Graphic Designer</span>
      </p>
    </div>
    
    <div class="polaroid">
      <img src="pic04.jpg"></img>
      <p>
        <span class="user_name">Joe Schmo</span>
        <span class="category_name">Graphic Designer</span>
      </p>
    </div>
    
    <div class="polaroid">
      <img src="pic06.jpg"></img>
      <p>
        <span class="user_name">Joe Schmo</span>
        <span class="category_name">Graphic Designer</span>
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="polaroid">
      <img src="pic07.png"></img>
      <p>
        <span class="user_name">Joe Schmo</span>
        <span class="category_name">Graphic Designer</span>
      </p>
    </div>
    
    <div class="polaroid">
      <img src="pic08.jpg"></img>
      <p>
        <span class="user_name">Joe Schmo</span>
        <span class="category_name">Graphic Designer</span>
      </p>
    </div>
    
    <div class="polaroid">
      <img src="pic09.jpg"></img>
      <p>
        <span class="user_name">Joe Schmo</span>
        <span class="category_name">Graphic Designer</span>
      </p>
    </div>
    
    <div class="polaroid">
      <img src="pic02.jpg"></img>
      <p>
        <span class="user_name">Joe Schmo</span>
        <span class="category_name">Graphic Designer</span>
      </p>
    </div>
    
  </div>
  
  <div class="row">
    <div class="polaroid">
      <img src="pic10.png"></img>
      <p>
        <span class="user_name">Joe Schmo</span>
        <span class="category_name">Graphic Designer</span>
      </p>
    </div>
    
    <div class="polaroid">
      <img src="pic11.jpg"></img>
      <p>
        <span class="user_name">Joe Schmo</span>
        <span class="category_name">Graphic Designer</span>
      </p>
    </div>
    
    <div class="polaroid">
      <img src="pic12.jpg"></img>
      <p>
        <span class="user_name">Joe Schmo</span>
        <span class="category_name">Graphic Designer</span>
      </p>
    </div>
    
    <div class="polaroid">
      <img src="/pic01.jpg"></img>
      <p>
        <span class="user_name">Joe Schmo</span>
        <span class="category_name">Graphic Designer</span>
      </p>
    </div>
    
  </div>
</div>