<nav class="container" id="nav">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-push-4 text-center">
      <h1 class="title"><a href="/">OmaWho</a></h1>
      <div class="bubble" id="quiz">?</div>
      <small id="tagline">The faces of Omaha's creative community</small>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-pull-8 text-center vcenter" id="links">
      <% if current_user %>
        <form action="/<%= current_user.username %>">
            <input type="submit" value="Logout // Edit your Profile" class="cool">
        </form>
      <% elsif @logging_in %>
      <form>
          <input type="submit" value="Logging in..." class="cool">
      </form>
      <% else %>
      <form action="/login">
          <input type="submit" value="Login // Add your Face" class="cool">
      </form>
      <% end %>
    </div>
  </div>
</nav>