
img#quiz {
    width: 7vw;
    display: inline-block;
    margin: -6.5vmin 0 0 0;
}

  h1.title {
    font-family: Titillium Web;
    display:inline-block;
    font-size: 11vmin;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0 0 0 0;
}

  nav {
    border-bottom: 2px solid;
    background: white;
  }

  div#links {
      height: 15vmin;
      /* display: table-cell; */
      /* display: inline-block; */   
      /* float: none; */   
      /* vertical-align: middle; */
      background: grey;
}

#links a {
    color: black;
    margin-top: 4vw;
    height: 11vw;
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

small#tagline {
    font-family: Titillium Web;
    width: 100%;
    display: block;
    letter-spacing: 0.40vmin;
    text-transform: uppercase;
}

#links button {
    margin-top: 5vmin;
    background: white;
    border: 0;
    font-family: Titillium Web;
}

  body {
    background: lightgrey;
    background: url('map.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
  
  .sort_by small {
      /* width: 100%; */
      text-align: center;
      font-size: x-small;
      color: white;
      margin: 1vw;
  }

  .sort_by .col-sm-2 {
      background: black;
      height: 3vw;
      padding: 0;
  }

  .sort_by .col-sm-2:hover {
      background: grey;
  }

  .all:hover{
      border-bottom: 3px solid white;
  }
  
  .web:hover{
      border-bottom: 3px solid blue;
  }
  
  .graphic:hover{
      border-bottom: 3px solid green;
  }
  
  .architect:hover{
      border-bottom: 3px solid goldenrod;
  }
  
  .photo:hover{
      border-bottom: 3px solid red;
  }
  
  .art:hover{
      border-bottom: 3px solid yellow;
  }
 
  .fashion:hover{
      border-bottom: 3px solid violet;
  }
  
  .writing:hover{
      border-bottom: 3px solid saddlebrown;
  }
  
  .venture:hover{
      border-bottom: 3px solid purple;
  }
  
  .community:hover{
      border-bottom: 3px solid lime;
  }
  
  .nonprofit:hover{
      border-bottom: 3px solid salmon;
  }
  
  .sales:hover{
      border-bottom: 3px solid orange;
  }
   
  .container.sort_by {
      margin-top: 1vw;
  }

  div.polaroid {
    text-align: center;
    margin: 0.9vw;
    /* padding: 1vw; */
    border: 1.5vmin solid white;
    overflow: hidden;
    /* height: 33vw; */
    text-align: center;
    background: white;
  }

  div.polaroid img {
    width: 100%;
    margin: 0;
  }

  .polaroid:hover {
   border: 0;
  }

  .polaroid span {
    font-family: Rokkitt;
    display: block;
    margin: 0.5vw;
    font-size: small;
  }

  span.user_name {
    font-weight: bold;
    font-size: large;
  }

  .polaroid p {
    width: 100%;
    height: 11vmin;
    line-height: 1.2;
    background: white;
    margin: 0 0 0 0;
    padding: 0;
    border-top: 1vw solid black;
    z-index: 2;
  }


  .polaroid.graphic p{
    border-color: green;
    color: darkgreen;
  }

  .polaroid.web p{
    border-color: blue;
    color: darkblue;
  }

  .polaroid.photo p{
    border-color: red;
    color: maroon;
  }

  .polaroid.fashion p{
    border-color: violet;
    color: darkviolet;
  }

  .polaroid.architect p{
    border-color: goldenrod;
    color: darkgoldenrod;
  }

  .polaroid.writing p{
    border-color: saddlebrown;
    color: saddlebrown;
  }

  .polaroid.community p{
    border-color: lime;
    color: green;
  }

  .polaroid.nonprofit p{
    border-color: salmon;
    color: DarkSalmon;
  }

  .polaroid.sales p{
    border-color: orange;
    color: DarkOrange;
  }
  
  .polaroid.venture p{
    border-color: purple;
    color: purple;
  }