
img#quiz {
  position: fixed;
  display: block;
  width: 7.5vw;
  right: 3.2vw;
  top: 0.6vw;
  font-size: 8vw;
  background: white;
  border: 2px solid white;
  border-radius: 100%;
}

h1.title {
  font-size: 9vw;
  font-family: sans-serif;
  text-transform: uppercase;
  color: rgb(0, 0, 105);
  margin: -1vw;
  right: 10vw;
  /* padding: 0; */
  /* top: 0; */
  position: absolute;
}

nav {
  width: 95%;
  margin: 0 auto 0 auto;
  height: 9vw;
  position: relative;
  z-index: 1;
  text-align: right;
  border-bottom: 2px solid;
  background: white;
}

div#dropdown {
    position: relative;
    background: grey;
    width: 40vw;
    height: 9vw;
    text-align: center;
}

select {
  margin: 2.5vw auto 3vw auto;
  width: 35vw;
  background: white;
  border-radius: 0px;
  height: 4vw;
  font-size: 2.5vw;
}

body {
  margin: 0;
  background: lightgrey;
  background: url('map.jpg');
  background-size: cover;
  background-attachment: fixed;
}

div.grid {
  width: 100%;
  right: 0;
  text-align: center;
  overflow: visible;
  padding-top: 0;
}

div.polaroid {
  width: 30vw;
  height: 38vw;
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 1vw;
  background: rgba(0, 0, 0, 0.5);
}

div.polaroid img {
  width: 100%;
  padding-top: 1vw;
  padding-bottom: 0;
  padding: 0;
  margin: 0;
  -webkit-filter: opacity(50%);
  z-index: 1;
}

.polaroid img:hover {
  -webkit-filter: initial;
}

.polaroid span {
  font-family: sans-serif;
  display: block;
  margin: 0.5vw;
  font-size: 1.8vw;
}

span.user_name {
  font-weight: bold;
  font-size: 2.2vw;
}

.polaroid p {
  width: 100%;
  background: white;
  margin: -0.7vw auto 0 auto;
  padding: 0.5vw 0 0.5vw 0;
  border-bottom: 1px solid black;
  border-top: 0.5vw solid black;
  position: absolute;
  bottom: 0;
}


.polaroid.graphics p{
  border-bottom: 1px solid green;
  border-top: 0.5vw solid green;
  color: darkgreen;
}

.polaroid.web p{
  border-bottom: 1px solid blue;
  border-top: 0.5vw solid blue;
  color: darkblue;
}

.polaroid.photo p{
  border-bottom: 1px solid red;
  border-top: 1vw solid red;
  color: maroon;
}

.polaroid.fashion p{
  border-bottom: 1px solid violet;
  border-top: 1vw solid violet;
  color: darkviolet;
}

.polaroid.architect p{
  border-bottom: 1px solid goldenrod;
  border-top: 1vw solid goldenrod;
  color: darkgoldenrod;
}

.polaroid.writing p{
  border-bottom: 1px solid saddlebrown;
  border-top: 1vw solid saddlebrown;
  color: saddlebrown;
}

.polaroid.community p{
  border-bottom: 1px solid lime;
  border-top: 1vw solid lime;
  color: green;
}

.polaroid.nonprofit p{
  border-bottom: 1px solid salmon;
  border-top: 1vw solid salmon;
  color: DarkSalmon;
}

.polaroid.sales p{
  border-bottom: 1px solid orange;
  border-top: 1vw solid orange;
  color: DarkOrange;
}
