
img#quiz {
    width: 7.5vw;
  }

  h1.title {
    display:inline-block
  }

  nav {
    border-bottom: 2px solid;
    background: white;
  }

  div#links {
      position: relative;
      background: grey;
      text-align: center;
  }

  body {
    background: lightgrey;
    background: url('map.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  div.polaroid {
    text-align: center;

    background: rgba(0, 0, 0, 0.5);
  }

  div.polaroid img {
    width: 100%;

    -webkit-filter: opacity(50%);
  }

  .polaroid img:hover {
    -webkit-filter: initial;
  }

  .polaroid span {
    font-family: sans-serif;
    display: block;
    margin: 0.5vw;
    font-size: medium;
  }

  span.user_name {
    font-weight: bold;
    font-size: large;
  }

  .polaroid p {
    width: 100%;
    height: 8vw;
    background: white;
    margin: 0;
    padding: 0.5vw 0 0.5vw 0;
    border-bottom: 1px solid black;
    border-top: 1vw solid black;
    bottom: 0;
    z-index: 2;
  }


  .polaroid.graphics p{
    border-color: green;
    color: darkgreen;
  }

  .polaroid.web p{
    border-color: blue;
    color: darkblue;
  }

  .polaroid.photo p{
    border-color: red;
    color: maroon;
  }

  .polaroid.fashion p{
    border-color: violet;
    color: darkviolet;
  }

  .polaroid.architect p{
    border-color: goldenrod;
    color: darkgoldenrod;
  }

  .polaroid.writing p{
    border-color: saddlebrown;
    color: saddlebrown;
  }

  .polaroid.community p{
    border-color: lime;
    color: green;
  }

  .polaroid.nonprofit p{
    border-color: salmon;
    color: DarkSalmon;
  }

  .polaroid.sales p{
    border-color: orange;
    color: DarkOrange;
  }